<%- include("partials/header.ejs") %>
<div class="container">
  <form action="/movie/" style="text-align:center">
      <h1>Please select your Cinema:</h1>
      <fieldset class="form-group row">
      <% cinema.forEach(function(cinema){ %>
        <input type="radio"  name="cinemaname" value="<%= cinema.cinemaname %>">
      <label for="<%= cinema.cinemaname %>"><%= cinema.cinemaname %></label><br>
      <% }); %>
    </fieldset>
      <input type="submit" value="Submit">
  </form>
</div>
<%- include("partials/footer.ejs")%>

<!-- "IMAX": {
  "KRUNGSRI IMAX":["Major Cineplax Ratchayothin", "Paragon Cineplax", "Major Cineplax CentralFastival Chiangmai"],
  "ICON CINECONIC":["iCON Cineconic"]
},
"4DX": {
  "Paragon CINECONIC":["Paragon Cineplex"],
  "Mega CINEPLEX":["Mega Cineplex"] 
} -->