<%- include("partials/header.ejs") %>
<style>
  h1{
    color:red;
  }
  h3{
    color:black;
  }
  div {
    margin: 0 auto;
  }
  .container{
    margin: 0 auto;
  }
  #active-image{
    text-align: center;
  }
  .cinema{
  background-color: rgba(255,193,7,255);
  color: white;
  border: 2px solid rgb(255, 0, 0);
  margin: 20px;
  padding: 20px;
  }
</style>
<div class="btn-group py-3">
  <button class="btn create btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="left: 920%;">Sort by Date</button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/movie/sortBydate">Date</a></li>
  </ul>
</div> 
<h1 style="text-align:center">TOP  IN   WEEK</h1><br>
  <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="container" >
  <div id='active-image' class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cf.shopee.co.th/file/6b5768f16e1982a4e30527c78d4987e7" style="width: 50%;">
    </div>
    <div class="carousel-item">
      <img src="https://cms.dmpcdn.com/moviearticle/2022/03/15/c4f63250-a42f-11ec-9c74-054b0960f9aa_webp_original.jpg"  style="width: 50%;">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/1c/b5/81/1cb5818af879dc9927e96c56a419da40.jpg"  style="width: 50%;">
    </div>
  </div>
</div>
<hr class="my-4">
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="cinema" class="container">
  <form action="/movie/" style="text-align:center">
      <h2>Please select your cinema</h2>
      <% cinema.forEach(function(cinema){ %>
        <input type="radio"  name="cinemaname" value="<%= cinema.cinemaname %>">
        <label for="<%= cinema.cinemaname %>"><%= cinema.cinemaname %></label>
        <br>
      <% }); %>
      <input type="submit" value="Submit">
  </form>
  </div>

<hr class="my-4">
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Now</h1>
      <% if(currentUser && currentUser.isAdmin){ %>
        <a href="/prints/add" class="btn btn-secondary my-2">Add New Movie</a>
      <% } %> 
    </div>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% prints.forEach(function(box){ %>
      <div class="col">
        <div class="card shadow-sm">
        <img src="<%= box.url %>" height="500px" class="index-image">
          <div class="card-body">
            <p class="card-text">Name: <%= box.name %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
     <% }); %>
    </div>
  </div>
</div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/popper.js/dist/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/jsbootstrap.min.js"></script>

<%- include("partials/footer.ejs")%>