<%- include("partials/header.ejs") %>
<style>
*
{
text-align: center !important;
margin: auto !important;
}
</style>
<div class="container">
<br>
<h1>User Profile</h1>
<br>
<p><%= user.username %></p>
<br>
<p><%= user.firstname   + '' +  user.lastname %></p>
<br>
<p>
    <a href="mailto: <%= user.email %>"><%= user.email %></a>
</p>
<br>
<h2>Your History Movie</h2>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Movie</th>
        <th scope="col">Cinema</th>
        <th scope="col">Seat</th>
      </tr>
    </thead>
    <tbody>
        <% ticket.forEach(function(PP){ %>
      <tr>
        <td><%= PP.box.name %></td>
        <td><%= PP.cinema.cinemaname %></td>
        <td><%= PP.seat.rowNumber %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
<!-- <% ticket.forEach(function(PP){ %>
    <span><%= PP.box.name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span><%= PP.cinema.cinemaname %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span><%= PP.seat.rowNumber %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<% }); %> -->
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%- include("partials/footer.ejs")%>
