<%- include("partials/header.ejs") %>
<div class="container">
<h1>User Profile</h1>
<p><%= user.username %></p>
<p><%= user.firstname   + '' +  user.lastname %></p>
<p>
    <a href="mailto: <%= user.email %>"><%= user.email %></a>
</p>

<h2>Your History Movie</h2>
<% user.ticket.forEach(function(PP){ %>
    <p><%= PP.box %></p>
    <p><%= PP.cinema %></p>
    <p><%= PP.seat %></p>
<% }); %>
</div>
<%- include("partials/footer.ejs")%>
