<%- include("partials/header.ejs") %>

<style>
fieldset {
      overflow: hidden
    }
    
    .some-class {
      float: left;
      clear: none;
    }
    
    label {
      float: left;
      clear: none;
      display: block;
      padding: 0px 1em 0px 8px;
    }
    
    input[type=checkbox],
    input.checkbox {
      float: left;
      clear: none;
      margin: 2px 0 0 2px;
    }
</style>

<div class="container">
  <form action="/box/<%= box._id %>/cinema/<%= cinema._id %>/seat" method = "POST" >
      <p>Please select your seat:</p>
      
        <fieldset>
          <div class="some-class">
            <% seat.forEach(function(seat){ %>
            <input  type="checkbox" class="minimal" name="seat" value="<%= seat.rowNumber %>"  />
            <label for="<%= seat.rowNumber %>"><%= seat.rowNumber %></label>
            <input type="hidden" name='seat_id' value='<%= seat._id %>'>
            <% }); %>
          </div>
        </fieldset>
        
      <input type="submit" value="Submit">
  </form>
</div>
<%- include("partials/footer.ejs")%>