<%- include("partials/header.ejs") %>
<style>

</style>
<div class="container">
  <form action="/movie/" style="text-align:center">
    <br><br>
      <h2>Please select your cinema</h2>
      <br>
      <% cinema.forEach(function(cinema){ %>
        <input type="radio"  name="cinemaname" value="<%= cinema.cinemaname %>">
      <label for="<%= cinema.cinemaname %>"><%= cinema.cinemaname %></label><br>
      <% }); %>
      <br>
      <input type="submit" value="Submit">
  </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include("partials/footer.ejs")%>