<%- include("partials/header.ejs") %>
<style>

</style>
<div class="container">
  <form action="/movie/" style="text-align:center">
      <p>Please select your favorite Web language:</p>
      <% cinema.forEach(function(cinema){ %>
        <input type="radio"  name="cinemaname" value="<%= cinema.cinemaname %>">
      <label for="<%= cinema.cinemaname %>"><%= cinema.cinemaname %></label><br>
      <% }); %>
      <input type="submit" value="Submit">
  </form>
  </div>
<%- include("partials/footer.ejs")%>