<%- include("./partials/header.ejs") %>
<style>
    *
{
text-align: center !important;
margin: auto !important;
}
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="contrainner">
<h1 style="text-align:center"><%= box.name %></h1><br><br>
<a><%= box.timeonair.toLocaleString() %></a><br><br>
<p class="fs-5 col-md-8" class="center"> 
    <img src="<%= box.url %>" width="500px">
</p><br><br>
<h2>Synopsis</h2><br>
<p class="fs-5 col-md-8"><%= box.description %></p>
<hr class="col-3 col-md-2 mb-5">

<div class="row g-5">
  <div class="col-md-6">
    <p><h1 style="text-align:center">Movie Theater</h1>
        <iframe 
                width="560" height="600" src="<%= box.video%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
  <div class="col-md-6">
    <h2>Comments</h2>
    <p><hr class="my-4">
        <% box.comments.forEach(function(comment){ %>
            <p>
                <strong><%= comment.author.username %></strong> - <%= comment.text %>
            </p>
        <% }) %>
    <% if(currentUser && currentUser.isAdmin){ %>     
        <a href="/box/<%= box._id %>/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
        <form id='delete-form' action="/box/<%= box._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
        </form> 
    <% } %> 
    <a href="/box/<%= box._id %>/new" class="btn btn-sm btn-outline-secondary">Add New Comment</a>
    </div>
    </div>
</p><br><br>
    <% if(date> box.timeonair){ %>
      <a  type='submit' class="w3-button w3-left w3-light-grey"> Choose seat &raquo;</a>
    <% }else{ %>
        <a href="/box/<%= box._id %>/cinema/<%= cinema._id %>/seat" type='submit' class="w3-button w3-left w3-light-grey"> Choose seat &raquo;</a>
    <% } %>
  </div>
</div>
</div>


<%- include("./partials/footer.ejs")%>