<%- include("./partials/header.ejs") %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container">
        <div class="row">
        <h1><%= box.name %></h1>
        <hr class="my-4">
        <img src="<%= box.url %>" width="100px">
        <br><br>
        <hr class="my-4">

        <h1 style="text-align:center">Movie Theater</h1>
        <iframe width="560" height="600" src="<%= box.video%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            <%= box.description %>
        </p>
        <hr class="my-4">
        
            <h3>Comments</h3>
            <% box.comments.forEach(function(comment){ %>
                <p>
                    <strong><%= comment.author.username %></strong> - <%= comment.text %>
                </p>
            <% }) %>
        <% if(currentUser && currentUser.isAdmin){ %>     
            <a href="/box/<%= box._id %>/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
            <form id='delete-form' action="/box/<%= box._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
            </form> 
        <% } %> 
        <a href="/box/<%= box._id %>/new" class="btn btn-sm btn-outline-secondary">Add New Comment</a>
        </div>
        </div>
        <hr class="my-4">
        <div class="w3-bar">
        <a href="/box/<%= box._id %>/cinema/<%= cinema._id %>/seat" type='submit' class="w3-button w3-left w3-light-grey"> Choose seat &raquo;</a> 
        </div>

</div>

<%- include("./partials/footer.ejs")%>